.container {
    background-color: #FFB7CB;
}


.navbar-brand img{
    width: 50%;
    margin-left: 15px;
}

.nav-item4{
    background-color: #DE6485;
}

.bio{
    background-color: #FFB7CB;
}

.bio img{
    height: 400px;
    width: 400px;
    background: #ffffff;
}